// Core variables and mixins

@import "components/vars";

@import "bootstrap/normalize";
@import "bootstrap/grid";

@import "components/body";



// a[href^="http://maps.google.com/maps"]{display:none !important}
// a[href^="https://maps.google.com/maps"]{display:none !important}
// .gmnoprint a, .gmnoprint span, .gm-style-cc {
//     display:none;
// }
// .gmnoprint div {
//     background:none !important;
// }


@import "components/header";


.layout{
	display: table;
	table-layout: fixed;
  	height: 100%;
  	width: 100%;
}



.wrapper{
	display: table-row;
	height: 100%;
}
.container-fluid{
	max-width: 1090px;
	// padding: 0;
	position: relative;
	width: 100%;
}

.page-content{
	display: table-cell;
	height: 100%;
	padding: 56px 0 30px;
}

.content-wrapper{
	display: flex;
}

.content{
	//background: #fff;
	flex:1;
	//max-width: calc(100% - 323px);
	// padding-top: 24px;
	// padding-left: 16px;
	// padding-right: 16px;
}



.btn {
    background: #024a9a;
    background: linear-gradient(90deg, #024a9a 0%, #00659e 100%);
    display: inline-block;
    transition: all 0.3s ease;
    color: #fff;
    border-radius: 5px;
        padding: 10px 20px 9px;
    margin-bottom: 25px;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    &:hover{
	    background: #0153aa;
	    background: linear-gradient(90deg, #0153aa 0%, #016aad 100%);
    }
}

.page-aside{
	padding-left: 4px;
	width: 323px;
	max-width: 323px;
    min-width: 323px;
}

.page-aside__item{
	background: #fff;
	margin-bottom: 4px;
	padding: 15px 35px; 
	&:last-child{
		margin-bottom: 0;
	}
}

.page-aside__title{
	border-bottom: 1px solid #C9C9C9;
	padding-bottom: 10px;
	margin-bottom: 20px;
	h3{
		margin-bottom: 0;
	}
}


.content__item{
	background: #fff;
	margin-bottom: 4px;
    padding: 12px 16px 16px;
}


.aside-article{
	margin-bottom: 15px;
	display: block;
	text-decoration: none;
	color:inherit;
	&:last-child{
		margin-bottom: 0;
	}
}
.aside-article__title{
	font-size: 15px;
	font-weight: 500;
	margin-bottom: 5px;
}

.aside-article__date{
	font-size: 13px;
	color: #909090;
}

.article__top{
	//padding-top: 12px;
	display: flex;
	align-items:center;
	font-size: 13px;
	margin: 0 0 20px 0;
}
.article__label{
	margin-right: 24px;
	background: #DCF6E1;
	padding: 5px;
	padding: 8px 15px;
	margin-left: -16px;
}

.article__img{
	img{
		max-width: 100%;
		height: auto;
		display: block;
	}
}

.article__author{
	margin-right: 24px;
	text-decoration: none;
	color: #007FE4;
}

.article__date{
	color: #909090;
	margin-right: 24px;
}

.article__reviews{
	color: #909090;
	position: relative;
	padding-left: 13px;
	&:before{
		content: "";
		width: 10px;
		height: 9px;
		background: url(../img/svg/comment_icon.svg) no-repeat;
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
	}
}

.article-in__img{
	margin: 0 -16px 20px;
	img{
		max-width: 100%;
		height: auto;
		display: block;
	}

	.image-caption{
		margin-left: 16px;
		margin-right: 16px;
	}
}


.article-in{
	border-top: 1px solid #C9C9C9;
	border-bottom: 1px solid #C9C9C9;
	padding-top: 20px;
	margin-bottom: 20px;
}

.socials{
	margin-bottom: 20px;
	    display: flex;
    flex-wrap: wrap;
}

.socials__item {
    // display: inline-block;
    // vertical-align: top;
    margin-right: 10px;
    padding: 4px 9px;
    color: #fff;
    border-radius: 3px;
    text-decoration: none;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    &:last-child{
    	margin-right: 0;
    }
    img{
		display: block;
		max-width: 100%;
		height: auto;
		max-height: 100%;
    }
    span{
		padding-left: 1px;
		font-size: 12px;
		display: inline-block;
		vertical-align: middle;
		margin-left: 5px;
		&.count{
			font-size: 11px;
			color: rgba(255,255,255,.5);
			padding-left: 3px;
			padding-right: 2px;
			    margin-top: 1px;

		}
    }
    &.socials__item--vk {
	    background: #5f84a6;
	    &:hover{
	    	background: #72a0ca;
	    }
	    i{
		    width: 16px;
	    	height: 10px;
	    }
	}
	&.socials__item--reddit {
	    background: #ff4500;
	    &:hover{
	    	background: #ff2500;
	    }
	    i{
	    	width: 19px;
    		height: 18px;
	    }
	}
	&.socials__item--fb {
	    background: #3c5a96;
	    &:hover{
	    	background: #4a6eb6;
	    }
	    i{
	    	width: 7px;
    		height: 15px;
	    }
	}
	&.socials__item--tw {
	    background: #64a9dc;
	    &:hover{
	    	background: #6fbbf4;
	    }
	    i{
	    	width: 13px;
    		height: 12px;
	    }
	}

}

.image-caption{
	padding: 15px 0;
	margin-bottom: 15px;
	border-bottom: 1px solid #C9C9C9;
	font-size: 13px;
}

.image-variants{
	margin-bottom: 20px;
	border-bottom: 1px solid #C9C9C9;
	img{
		max-width: 100%;
		height: auto;
		display: block;
	}
	.media__title {
	    padding: 17px 0 17px;
	}
}

.image-variants__wrap {
    margin-right: -15px;
    overflow: hidden;
}

.image-variants__item {
    padding-right: 15px;
    vertical-align: middle;
    float: left;
    max-width: 50%;
}

.page-browsing{
	display: flex;
	justify-content:space-between;
	    margin: 30px 0;
}

.page-browsing__top{
	display: block;
	position: relative;
	color: #007FE4;
	font-size: 18px;
}


.page-browsing__right{
	text-decoration: none;
	max-width: 235px;
	text-align: right;
	.page-browsing__top{
		padding-right: 45px;
		&:before{
			content: "";
			right: 0;
			background: url(../img/svg/a_right.svg) center no-repeat;
			background-size: contain;
			display: inline-block;
			width: 28px;
    		height: 12px;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			margin-top: -1px;
		}
	}
}

.page-browsing__left{
	text-decoration: none;
	max-width: 235px;
	text-align: left;
	.page-browsing__top{
		padding-left: 45px;
		&:before{
			content: "";
			left: 0;
			background: url(../img/svg/a_left.svg) center no-repeat;
			background-size: contain;
			display: inline-block;
			width: 28px;
    		height: 12px;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			margin-top: -1px;
		}
	}
}

.page-browsing__title{
	font-size: 15px;
	margin-bottom: 5px;
	color: #000;
	font-weight: 500;
	line-height: 1.2;
}

.page-browsing__date{
	font-size: 13px;
	color: #909090;
}

.layout--aside{
	.page-aside{
		padding-left: 0;
    	padding-right: 4px;
    	width: 254px;
	    max-width: 254px;
	    min-width: 254px;
	}
	.content{
		max-width: calc(100% - 254px);
		.article__top {
		    margin: 0 0 16px 0;
		}
		.content__item {
		    padding: 22px 21px 20px;
		}
		.highlighted-block{
			margin-left: -21px;
			margin-right: -21px;
		}
		.highlighted-text{
			margin-left: -21px;
			margin-right: -21px;
		}
	}
}

.highlighted{
	border: 1px solid #FBF3B1;

	background: #FFF9E0;
	padding-left: 3px;
}

.highlighted-single{
	border: 1px solid #F6E54A;
	box-shadow:         1px 1px 0px 0px rgba(246, 229, 74, 0.75);
	border-radius: 3px;
	padding: 1px 4px;
}






.royalSlider{
	width: 100%;
	//min-height: 546px;
	height: auto!important;
	display: none;
}

.royalSlider.rsHor{
  display: block;
}

.rsContainer {
    z-index: 1;
}

.rsNavItem{
  position: relative;
}
.rsNavItem:hover:before,
.rsNavItem.rsNavSelected:before{
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    border: 2px solid #064ea8;
    position: absolute;
    top: 0px;
    left: 0px;
}

// .rsOverflow{
//   height: 400px!important;
// }

.rsDefaultInv,
.rsDefaultInv .rsOverflow,
.rsDefaultInv .rsSlide,
.rsDefaultInv .rsVideoFrameHolder,
.rsDefaultInv .rsThumbs {
    background: #fff;
    color: inherit;
}
img.rsImg {
    max-width: 100%;
}
.rsDefaultInv .rsArrow {
    width: 68px;
    z-index: 2;
}

.rsDefaultInv .rsThumb.rsNavSelected img {
    opacity: 1;
    filter: alpha(opacity=1);
}
.rsDefaultInv .rsThumb.rsNavSelected {
    background: transparent;
}
.rsDefaultInv .rsThumb {
    overflow-y: hidden;
}
.rsDefaultInv .rsThumb {
      width: 150px;
    height: 90px;
    line-height: 90px;
  overflow: hidden;
  text-align: center;
}

.rsDefaultInv .rsThumb img {
    width: auto;
    height: auto;
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    max-height: 100%;
        text-align: center;
    display: inline-block;
}

.rsDefaultInv .rsThumbsHor{
    height: 95px;
    padding: 3px 0 0 0;
    width: calc(100% - 40px);
    margin-left: 20px;
}


.rsDefaultInv .rsGCaption {
    position: static;
    background: transparent;
    color: #000;
    width: 100%;
    -webkit-border-radius: 0;
    border-radius: 0;
    font-size: 15px;
    padding: 0;
    clear: both;
    background: #fff;
    color: #333333;
    width: -webkit-calc(100% - 40px);
    width: calc(100% - 40px);
    margin-left: 20px;
    padding-top: 15px;
        padding-bottom: 16px;
}

.rsCaption {
    padding: 0 5px;
    font-size: 13px;
    color: #333;
    line-height: 1.2;
    text-indent: 51px;
}

.pagingInfo{
	font-size: 13px;
    color: #333;
    top: 559px;
    position: absolute;
    left: 24px;
}

.rsOverflow{
	height: 451px!important;
}


.rsContent{
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  //height: 452px;
}
.rsDefaultInv .rsTmb {
    display: flex;
    align-items: center;
    justify-content: center;
        width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle
}

.rsDefaultInv .rsArrowIcn {
    position: absolute;
    width: 46px;
    height: 46px;
    margin-top: -23px;
    margin-left: 0;
    left: auto;
    z-index: 3;
    padding: 0;
    text-indent: -9999em;
    display: inline-block;
    border: 0;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.rsDefaultInv.rsHor .rsArrowRight .rsArrowIcn{
    right: 33px;
    background: url(../img/svg/arrow_right.svg) center no-repeat;
    background-size: cover;
}

.rsDefaultInv.rsHor .rsArrowRight .rsArrowIcn:hover{
    background: url(../img/svg/arrow_right_h.svg) center no-repeat;
    background-size: cover;
}

.rsDefaultInv.rsHor .rsArrowLeft .rsArrowIcn {
  left: 33px;
  background: url(../img/svg/arrow_left.svg) center no-repeat;
  background-size: cover;
}

.rsDefaultInv.rsHor .rsArrowLeft .rsArrowIcn:hover{
  background: url(../img/svg/arrow_left_h.svg) center no-repeat;
    background-size: cover;
}

.rsDefaultInv.rsHor .rsArrowRight.rsArrowDisabled .rsArrowIcn{
  background: url(../img/svg/arrow_right.svg) center no-repeat!important;
    background-size: cover;
    cursor: default;
}

.rsDefaultInv.rsHor .rsArrowLeft.rsArrowDisabled .rsArrowIcn{
  background: url(../img/svg/arrow_left.svg) center no-repeat!important;
    background-size: cover;
    cursor: default;
}

.material-slider-wrap{
	border-bottom: 1px solid  #C9C9C9;
	    margin: 0 -21px 25px;
	position: relative;
}

.highlighted-block{
	background: #FFF9E0;
	border-left: 3px solid #F3DD0E;
	padding: 28px 21px 28px 18px;
	margin-bottom: 30px;
	p{
		&:last-child{
			margin-bottom: 0;
		}
	}
}

.highlighted-text{
	border-left: 3px solid #F3DD0E;
	padding: 0 21px 0 18px;
	margin-bottom: 30px;
	font-weight: 500;
	p{
		&:last-child{
			margin-bottom: 0;
		}
	}
}

.content-img {
    margin-bottom: 18px;
    img{
		max-width: 100%;
		height: auto;
		display: block;
    }
}
.media__title{
	font-size: 13px;
    color: #333;
    padding: 17px 0 10px;
    line-height: 1.2;
}

.video-wrap{
  margin: 0 -21px 30px;}

.video__item {
  height: 454px;
  width: 100%;
  position: relative;
  margin-bottom: 16px; }
  .video__item iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    border: 0; 
    left: 0; }

.video__poster {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
}

.video__play {
    display: inline-block;
    width: 100px;
    height: 100px;
    border: 2px solid #fff;
    position: absolute;
    left: 50%;
    margin-left: -50px;
    top: 50%;
    margin-top: -50px;
    z-index: 3;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: rgba(51, 51, 51, 0.4);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.video__play:before {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 0 20px 29px;
    border-color: transparent transparent transparent #ffffff;
    position: absolute;
    left: 50%;
    margin-left: -11px;
    top: 50%;
    margin-top: -20px;
}
.video__play:hover {
    border: 2px solid rgba(11, 128, 236, 0.6);
}


.content-item {
    margin-bottom: 30px;
    overflow: hidden;
}

.content-item__img {
    float: left;
    max-width: 50%;
    padding-right: 40px;
    img{
    	max-width: 100%;
    	height: auto;
    	display: block;
    }
}


.block-socials{
	padding: 24px 0;
	margin-bottom: 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-top: 1px solid #C9C9C9;
	border-bottom: 1px solid #C9C9C9;
	.socials{
		margin-bottom: 0;
	}
}

.block-socials-like{
	display: flex;
	align-items: center;
}

.block-socials-like__answer{
	font-size: 18px;
	font-weight: 500;
	margin-right: 16px;
}

.block-socials-like__btn{
	display: inline-block;
	border-radius: 4px;
	text-decoration: none;
	font-weight: 500;
	    padding: 4px 16px;
}

.block-socials-like__btn--yes{
	background: linear-gradient(90deg, #024A9A 0%, #00669E 100%);
	margin-right: 16px;
	color: #fff;
	transition: all 0.3s ease;
	&:hover{
		background: linear-gradient(90deg,#0153aa 0%,#016aad 100%);
	}
	.block-socials-like__count{
		color: #fff;
	}
}
.block-socials-like__btn--no{
	background-color: #E6EAEC;
	color: #333;
	.block-socials-like__count{
		color: #333;
	}
}

.block-socials-like__count{
	font-size: 18px;
	display: inline-block;
	margin-right: 7px;
	font-weight: 300;
}

.text-highlighted-item{
	margin-bottom: 22px;
}


.ripple {
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.4);
  transform: scale(0);
  position: absolute;
  opacity: 1;
}

.rippleEffect {
    animation: rippleDrop .6s linear;
}

@keyframes rippleDrop {
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.ripple-animate {
  -webkit-transition: opacity 0.6s ease-in-out, 0.6s -webkit-transform ease-in-out;
  transition: opacity 0.6s ease-in-out, 0.6s -webkit-transform ease-in-out;
  transition: 0.6s transform ease-in-out, opacity 0.6s ease-in-out;
  transition: 0.6s transform ease-in-out, opacity 0.6s ease-in-out, 0.6s -webkit-transform ease-in-out; }

.rating-8, .rating-9, .rating-10 {
  background-color: #7bba3a; }

/****************rating 7-7.5**********************/
.rating-7 {
  background-color: #97c948; }

/****************rating 6-6.5**********************/
.rating-6 {
  background-color: #b2d845; }

/****************rating 5-5.5**********************/
.rating-5 {
  background-color: #dbeb40; }

/****************rating 4-4.5**********************/
.rating-4 {
  background-color: #faeb3c; }

/****************rating 3-3.5**********************/
.rating-3 {
  background-color: #ffd039; }

/****************rating 2-2.5**********************/
.rating-2 {
  background-color: #ff9e38; }

/****************rating 0-1.5**********************/
.rating-0, .rating-1 {
  background-color: #f65636; }

.rating {
  width: 42px;
  height: 42px;
  line-height: 42px;
  text-align: center;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  font-size: 20px;
  font-weight: 500;
  color: #000; }

.material-top {
  min-height: 270px;
  color: #fff;
  position: relative; }
  .material-top .container-fluid {
    position: static; }

.material-top__bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  padding: 45px 22px 5px;
  min-height: 273px;
  overflow: hidden;
  position: relative;
  overflow: hidden; }
  .material-top__bg h1,
  .material-top__title{
       margin-bottom: 16px;
    font-size: 24px;
    /* line-height: 31px; */
    line-height: 1.2; }
  .material-top__bg .material-btn {
    margin-right: 11px;
    margin-bottom: 11px; }
  .material-top__bg:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); /* https://crm.nineseven.ru/company/personal/user/28/tasks/task/view/11704/index.php?MID=49641#com49641 */
    left: 0;
    top: 0;
    position: absolute; }

.fitcher-popular-list__bg:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); /* https://crm.nineseven.ru/company/personal/user/28/tasks/task/view/11704/index.php?MID=49641#com49641 */
    left: 0;
    top: 0;
    position: absolute; }

.material-top__rating {
      float: left;
    width: 255px;
    padding-right: 42px;
    text-align: right;
    margin-top: -10px;
    position: relative;
    z-index: 3; }
  .material-top__rating .rating {
    margin-right: 18px;
    display: inline-block;
    vertical-align: middle;
    font-weight: 700;
    font-size: 24px;
    width: 50px;
    height: 50px;
    line-height: 50px; }

.rating-number {
  display: inline-block;
  vertical-align: middle;
  padding-left: 26px;
  position: relative;
  font-size: 24px;
  font-weight: 500; }
  .rating-number:before {
    content: "";
    display: inline-block;
    width: 22px;
    height: 20px;
    background: url(../img/svg/small_star.svg) center no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -13px; }

.material-top__info {
  overflow: hidden;
  position: relative;
  z-index: 3; }

.material-top__date {
  font-size: 13px;
  margin-bottom: 4px; }

.material-top__platform {
  font-size: 13px;
  margin-bottom: 7px; }

.material-top__buttons {
  padding-top: 22px; }

.material-btn {
	font-size: 20px;
  vertical-align: top;
  position: relative; }

.btn-appstore {
  background: #01172f!important;
  background: -webkit-linear-gradient(0deg, #01172f 0%, #001f30 100%)!important;
  background: -webkit-gradient(linear, left top, right top, from(#01172f), to(#001f30))!important;
  background: -webkit-linear-gradient(left, #01172f 0%, #001f30 100%)!important;
  background: linear-gradient(90deg, #01172f 0%, #001f30 100%)!important;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  height: 50px;
  line-height: 50px;
  display: inline-block;
  overflow: hidden;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .btn-appstore:hover {
    background: #012144!important;
    background: -webkit-linear-gradient(0deg, #012144 0%, #002d46 100%)!important;
    background: -webkit-gradient(linear, left top, right top, from(#012144), to(#002d46))!important;
    background: -webkit-linear-gradient(left, #012144 0%, #002d46 100%)!important;
    background: linear-gradient(90deg, #012144 0%, #002d46 100%)!important;}
  .btn-appstore svg {
    position: relative;
    z-index: 3; }
  .btn-appstore .ripple {
    background: #003773; }

.btn-google {
  background: #4da176;
  background: -webkit-linear-gradient(0deg, #4da176 0%, #4cbe7b 100%);
  background: -webkit-gradient(linear, left top, right top, from(#4da176), to(#4cbe7b));
  background: -webkit-linear-gradient(left, #4da176 0%, #4cbe7b 100%);
  background: linear-gradient(90deg, #4da176 0%, #4cbe7b 100%);
  -webkit-border-radius: 5px;
          border-radius: 5px;
  height: 50px;
  line-height: 50px;
  display: inline-block;
  overflow: hidden;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .btn-google:hover {
    background: #42957b;
    background: -webkit-linear-gradient(0deg, #42957b 0%, #40b180 100%);
    background: -webkit-gradient(linear, left top, right top, from(#42957b), to(#40b180));
    background: -webkit-linear-gradient(left, #42957b 0%, #40b180 100%);
    background: linear-gradient(90deg, #42957b 0%, #40b180 100%); }
  .btn-google svg {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    z-index: 3; }
  .btn-google .ripple {
    background: #6de2a6; }



.page-cat{
	background: #fff;
	padding: 16px 15px 16px;;

}

.page-cat__top{
	font-size: 14px;
	font-weight: 600;
	border-bottom: 1px solid #C9C9C9;
	padding-bottom: 2px;
	margin-bottom: 4px;
}

.page-cat__item {
    margin-bottom: 8px;
}

.page-cat__link{
    position: relative;
    display: block;
    font-size: 13px;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    padding: 6px 0 6px 23px;
    color: #303435;
    line-height: 1.1;
}


.l-map:before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../img/svg/map_icon.svg) no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
      top: 6px;
  transition: all 0.3s ease-in-out; }

.l-file:before {
  content: "";
  display: inline-block;
  width: 17px;
  height: 17px;
  background: url(../img/svg/file_icon.svg) no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
      top: 6px;
  transition: all 0.3s ease-in-out; }

.achievement:before,
.l-trophy:before{
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../img/svg/trophy.svg) no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
      top: 6px;
  transition: all 0.3s ease-in-out;
}


.map-in:before,
.l-way:before{
  content: "";
  display: inline-block;
  width: 17px;
  height: 17px;
  background: url(../img/svg/map_navigation.svg) no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
      top: 6px;
  transition: all 0.3s ease-in-out;
}


.way:before{
  content: "";
  display: inline-block;
  width: 17px;
  height: 21px;
  background: url(../img/svg/way.svg) no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
      top: 6px;
  transition: all 0.3s ease-in-out;
}

.key:before,
.l-unlock:before{
  content: "";
  display: inline-block;
  width: 16px;
  height: 17px;
  background: url(../img/svg/unlock.svg) no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
      top: 6px;
  transition: all 0.3s ease-in-out;
}

.l-video:before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 12px;
  background: url(../img/svg/video_icon.svg) no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
      top: 6px;
  transition: all 0.3s ease-in-out; }

.page-cat__back{
	display: block;
	font-size: 13px;
	margin-bottom: 12px;
	position: relative;
	padding-left: 23px;
	text-decoration: none;
	color: inherit;
	&:before{
		content: "";
		display: inline-block;
		width: 17px;
		height: 17px;
		background: url(../img/svg/back.svg) no-repeat;
		position: absolute;
		left: 0;
		top: 0;
	}
}

@import "components/footer";




@import "components/media";





