// Core variables and mixins

@import "components/vars";

@import "bootstrap/normalize";
@import "bootstrap/grid";

@import "components/body";



// a[href^="http://maps.google.com/maps"]{display:none !important}
// a[href^="https://maps.google.com/maps"]{display:none !important}
// .gmnoprint a, .gmnoprint span, .gm-style-cc {
//     display:none;
// }
// .gmnoprint div {
//     background:none !important;
// }


@import "components/header";


.layout{
	display: table;
	table-layout: fixed;
  	height: 100%;
  	width: 100%;
}



.wrapper{
	display: table-row;
	height: 100%;
}
.container-fluid{
	max-width: 1090px;
	// padding: 0;
	position: relative;
	width: 100%;
}

.page-content{
	display: table-cell;
	height: 100%;
	padding: 56px 0 30px;
}

.content-wrapper{
	display: flex;
}

.content{
	//background: #fff;
	flex:1;
	overflow: hidden;
	//max-width: calc(100% - 323px);
	// padding-top: 24px;
	// padding-left: 16px;
	// padding-right: 16px;
}



.btn {
    background: #024a9a;
    background: linear-gradient(90deg, #024a9a 0%, #00659e 100%);
    display: inline-block;
    transition: all 0.3s ease;
    color: #fff;
    border-radius: 5px;
        padding: 10px 20px 9px;
    margin-bottom: 25px;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    &:hover{
	    background: #0153aa;
	    background: linear-gradient(90deg, #0153aa 0%, #016aad 100%);
    }
}

.page-aside{
	padding-left: 4px;
	width: 323px;
	max-width: 323px;
    min-width: 323px;
}

.page-aside__item{
	background: #fff;
	margin-bottom: 4px;
	padding: 15px 15px 23px 35px;
	box-shadow: 0px 4px 27px -13px rgba(0, 0, 0, 0.55);
	&:last-child{
		margin-bottom: 0;
	}
}

.page-aside__title{
	border-bottom: 1px solid #C9C9C9;
    padding-bottom: 8px;
    margin-bottom: 16px;
	h3{
		margin-bottom: 0;
	}
}

.page-aside .js-anchors__link {
    text-decoration: none;
}


.content__item{
	background: #fff;
	margin-bottom: 4px;
    padding: 8px 16px 16px;
    &:first-child{
    	padding-top: 18px;
    	.article{
    		padding-top: 5px;
    	}

    }
}


.aside-article{
	margin-bottom: 14px;
	display: block;
	text-decoration: none;
	color:inherit;
	&:last-child{
		margin-bottom: 0;
	}
	&:hover{
		.aside-article__title{
			color: #003384;
		}
	}
}
.aside-article__title{
	font-size: 15px;
	font-weight: 500;
	line-height: 1.2;
	margin-bottom:2px;
	display: block;
	color: #333333;
	text-decoration: none;
	&:hover{
		color: #003384;
	}
}

.aside-article__date{
	font-size: 13px;
	color: #909090;
}

.article__top{
	//padding-top: 12px;
	display: flex;
	align-items:center;
	font-size: 13px;
	margin: 0 0 15px 0;
}
.article__label{
	margin-right: 24px;

	padding: 7px 15px;
	margin-left: -16px;
	text-decoration: none;
	color: inherit;
	transition: background 0.3s ease;
	&.green-scqeme{
		background: #DCF6E1;
		&:hover{
			background: #aef1bb;
		}
	}
	&.yellow-scqeme{
		background: #F7F7D1;
		&:hover{
			background: #ecec9b;
		}
	}
	&.blue-scqeme{
		background: #DCECF6;
		&:hover{
			background: #aed9f3;
		}
	}
}


.article__img{
	margin-top: 14px;
	display: block;
	overflow: hidden;
	&:hover{
		img{
			transform: scale(1.05);
		}
	}
	img{
		max-width: 100%;
		height: auto;
		display: block;
		transition: transform 0.3s ease;
	}
}

.article__author{
	margin-right: 24px;
	text-decoration: none;
	color: #007FE4;
}

.article__date{
	color: #909090;
	margin-right: 24px;
}

.article__reviews{
	color: #909090;
	position: relative;
	padding-left: 13px;
	text-decoration: none;
	&:before{
		content: "";
		width: 10px;
		height: 9px;
		background: url(../img/svg/comment_icon.svg) no-repeat;
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
	}
	&:hover{
		color: #616161;
		&:before{
			background: url(../img/svg/comment_icon-h.svg) no-repeat;
		}
	}
}

.article__link{
	&:hover{
		color: #003384;
	}
}

.article-in__img{
	margin: 0 -16px 26px;
	text-align: center;
	img{
		max-width: 100%;
		height: auto;
		display: block;
		margin: 0 auto; 
	}

	.image-caption{
		margin-left: 16px;
	    margin-right: 16px;
	    line-height: 1.3;
	    margin-bottom: 27px;
	    text-align: left;
	}
	.video__item{
		margin-bottom: 0;
	}
}

.article-in__wrapper{
	display: inline-block;
	margin: 0 auto;
}

.article{
	font-size: 16px;
	h2{
		margin-bottom: 13px;
		a{
			color: inherit;
			text-decoration: none;
		}
	}
	p{
		margin-bottom: 14px;
	}
}

.article-in{
	border-top: 1px solid #C9C9C9;
	border-bottom: 1px solid #C9C9C9;
	padding-top: 25px;
	margin-bottom: 20px;
}

.socials{
	margin-bottom: 25px;
	    display: flex;
    flex-wrap: wrap;
}

.socials__item {
    // display: inline-block;
    // vertical-align: top;
    margin-right: 10px;
        padding: 3px 5px 2px 5px;
    color: #fff;
    border-radius: 3px;
    text-decoration: none;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    &:last-child{
    	margin-right: 0;
    }
    img{
		display: block;
		max-width: 100%;
		height: auto;
		max-height: 100%;
    }
    span{
		padding-left: 1px;
		font-size: 12px;
		display: inline-block;
		vertical-align: middle;
		margin-left: 5px;
		&.count{
			font-size: 11px;
			color: rgba(255,255,255,.5);
			padding-left: 3px;
			padding-right: 2px;
			    margin-top: 1px;

		}
    }
    &.socials__item--vk {
	    background: #5f84a6;
	    &:hover{
	    	background: #72a0ca;
	    }
	    i{
		    width: 16px;
	    	height: 10px;
	    }
	}
	&.socials__item--reddit {
	    background: #ff4500;
	    &:hover{
	    	background: #ff2500;
	    }
	    i{
	    	width: 19px;
    		height: 18px;
	    }
	}
	&.socials__item--fb {
	    background: #3c5a96;
	    &:hover{
	    	background: #4a6eb6;
	    }
	    i{
	    	width: 7px;
    		height: 15px;
	    }
	}
	&.socials__item--tw {
	    background: #64a9dc;
	    &:hover{
	    	background: #6fbbf4;
	    }
	    i{
	    	width: 13px;
    		height: 12px;
	    }
	}
	&.socials__item--twi {
	    background: #1b95e0;
	    &:hover{
	    	background: #0c7abf;
	    }
	    i{
			display: inline-block;
			vertical-align: middle;
			width: 16px;
			height: 14px;
			margin-top: -2px;
	    }
	}
}

.image-caption{
	padding: 15px 0;
	margin-bottom: 15px;
	border-bottom: 1px solid #C9C9C9;
	font-size: 13px;
}


.page-browsing{
	// display: flex;
	// justify-content:space-between;
	margin: 21px 0 30px;
	&:after{
		content: "";
		display: table;
		clear: both;
	}
}

.page-browsing__top{
	display: block;
	position: relative;
	color: #017AEB;
	font-size: 18px;
	margin-bottom: 6px;
	font-weight: 500;
}


.page-browsing__right{
	text-decoration: none;
	max-width: 235px;
	float: right;
	text-align: right;
	padding-right: 35px;
	.page-browsing__top{
		//padding-right: 45px;
		&:before{
			content: "";
			right: -35px;
			background: url(../img/svg/a_right.svg) center no-repeat;
			background-size: contain;
			display: inline-block;
			width: 26px;
    		height: 12px;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			margin-top: -1px;
		}
	}
	&:hover{
		.page-browsing__title{
			color: #003384;
		}
	}
}

.page-browsing__left{
	text-decoration: none;
	max-width: 235px;
	float: left;
	text-align: left;
	padding-left: 35px;
	.page-browsing__top{
		//padding-left: 45px;
		&:before{
			content: "";
			left: -35px;
			background: url(../img/svg/a_left.svg) center no-repeat;
			background-size: contain;
			display: inline-block;
			width: 26px;
    		height: 12px;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			margin-top: -1px;
		}
	}
	&:hover{
		.page-browsing__title{
			color: #003384;
		}
	}
}

.page-browsing__title{
	font-size: 15px;
	margin-bottom: 7px;
	color: #000;
	font-weight: 500;
	line-height: 1.2;
	transition: color 0.3s ease;
}

.page-browsing__date{
	font-size: 13px;
	color: #909090;
}

.layout--aside{
	.page-aside{
		padding-left: 0;
    	padding-right: 4px;
    	width: 254px;
	    max-width: 254px;
	    min-width: 254px;
	}
	.content{
		max-width: calc(100% - 254px);
		.article__top {
		    margin: 0 0 16px 0;
		}
		.content__item {
		    padding: 22px 21px 20px;
		}
		.highlighted-block{
			margin-left: -21px;
			margin-right: -21px;
		}
		.highlighted-text{
			margin-left: -21px;
			margin-right: -21px;
		}
	}
}

.layout--material{
	.content-wrapper{
		background: #fff;
	}
	.article-in__img {
	    margin: 0 0 26px;
	}
	.article-in__img .image-caption {
	    margin-left: 0;
	    margin-right: 0;
	    margin-bottom: 26px;
	}
	.content {
	    max-width: calc(100% - 260px);
	}
	.material-slider-wrap{
		margin-left: 0;
		margin-right: 0;
	}
	.page-aside{
		width: 260px;
		max-width: 260px;
		min-width: 260px;
		padding-right: 8px;
	}
	.similar__img {
	    height: auto;
	}
	.similar__inner {
	    position: static;
	    img{
	    	display: block;
	    }
	}
}



.highlighted-single{
	border: 1px solid #F6E54A;
	box-shadow:         1px 1px 0px 0px rgba(246, 229, 74, 0.75);
	border-radius: 3px;
	padding: 1px 4px;
}






.royalSlider{
	width: 100%;
	//min-height: 546px;
	height: auto!important;
	display: none;
}

.royalSlider.rsHor{
  display: block;
}

.rsContainer {
    z-index: 1;
}

.rsNavItem{
  position: relative;
}
.rsNavItem:hover:before,
.rsNavItem.rsNavSelected:before{
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    border: 2px solid #064ea8;
    position: absolute;
    top: 0px;
    left: 0px;
}

// .rsOverflow{
//   height: 400px!important;
// }

.rsDefaultInv,
.rsDefaultInv .rsOverflow,
.rsDefaultInv .rsSlide,
.rsDefaultInv .rsVideoFrameHolder,
.rsDefaultInv .rsThumbs {
    background: #fff;
    color: inherit;
}
img.rsImg {
    max-width: 100%;
}
.rsDefaultInv .rsArrow {
    width: 68px;
    z-index: 2;
}

.rsDefaultInv .rsThumb.rsNavSelected img {
    opacity: 1;
    filter: alpha(opacity=1);
}
.rsDefaultInv .rsThumb.rsNavSelected {
    background: transparent;
}
.rsDefaultInv .rsThumb {
    overflow-y: hidden;
}
.rsDefaultInv .rsThumb {
      width: 150px;
    height: 90px;
    line-height: 90px;
  overflow: hidden;
  text-align: center;
}

.rsDefaultInv .rsThumb img {
    width: auto;
    height: auto;
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    max-height: 100%;
        text-align: center;
    display: inline-block;
}

.rsDefaultInv .rsThumbsHor{
    height: 100px;
    padding: 5px 0 0 0;
    width:100%;

}


.rsDefaultInv .rsGCaption {
    position: static;
    background: transparent;
    color: #000;
    width: 100%;
    border-radius: 0;
    font-size: 15px;
    padding: 0;
    clear: both;
    width: 100%;

}

.rsCaption {
   padding: 12px 20px 15px 20px;
    min-height: 46px;
    font-size: 13px;
    color: #333;
    line-height: 1.2;
}

.rsDefaultInv,
.rsDefaultInv .rsOverflow,
.rsDefaultInv .rsSlide,
.rsDefaultInv .rsVideoFrameHolder,
.rsDefaultInv .rsThumbs {
    background: #ebeef0;
    color: inherit;
}

.pagingInfo{
    position: absolute;
    left: 3px;
    top: 400px;
    color: #babbbc;
    padding: 5px 12px;
    font-size: 15px;
    background: rgba(0,0,0,.6);
    left: 50%;
    margin-left: -121px;
    width: 68px;
    white-space: nowrap;
    z-index: 10;
}


.material-slider__link{
	    display: inline-block;
    padding: 5px 13px 5px 27px;
    font-size: 15px;
    background: rgba(0,0,0,0.6);
    position: absolute;
    bottom: 1px;
    left: 50%;
    margin-left: -53px;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}

.rsOverflow{
	height: 434px!important;
}


.rsContent{
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  //height: 452px;
}
.rsDefaultInv .rsTmb {
    display: flex;
    align-items: center;
    justify-content: center;
        width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle
}

.rsDefaultInv .rsArrowIcn {
    position: absolute;
    width: 46px;
    height: 46px;
    margin-top: -23px;
    margin-left: 0;
    left: auto;
    z-index: 3;
    padding: 0;
    text-indent: -9999em;
    display: inline-block;
    border: 0;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.rsDefaultInv.rsHor .rsArrowRight .rsArrowIcn{
    right: 33px;
    background: url(../img/svg/arrow_right.svg) center no-repeat;
    background-size: cover;
}

.rsDefaultInv.rsHor .rsArrowRight .rsArrowIcn:hover{
    background: url(../img/svg/arrow_right_h.svg) center no-repeat;
    background-size: cover;
}

.rsDefaultInv.rsHor .rsArrowLeft .rsArrowIcn {
  left: 33px;
  background: url(../img/svg/arrow_left.svg) center no-repeat;
  background-size: cover;
}

.rsDefaultInv.rsHor .rsArrowLeft .rsArrowIcn:hover{
  background: url(../img/svg/arrow_left_h.svg) center no-repeat;
    background-size: cover;
}

.rsDefaultInv.rsHor .rsArrowRight.rsArrowDisabled .rsArrowIcn{
  background: url(../img/svg/arrow_right.svg) center no-repeat!important;
    background-size: cover;
    cursor: default;
}

.rsDefaultInv.rsHor .rsArrowLeft.rsArrowDisabled .rsArrowIcn{
  background: url(../img/svg/arrow_left.svg) center no-repeat!important;
    background-size: cover;
    cursor: default;
}

.material-slider-wrap{
	border-bottom: 1px solid  #C9C9C9;
	    margin: 0 -16px 25px;
	position: relative;
}

.highlighted-block{
	background: #FFF9E0;
	border-left: 3px solid #F3DD0E;
	padding: 28px 21px 28px 18px;
	margin-bottom: 30px;
	p{
		&:last-child{
			margin-bottom: 0;
		}
	}
}

.content .highlighted-block, .content .highlighted-text {
    margin-left: -16px;
    margin-right: -21px;
}

.highlighted-text{
	border-left: 3px solid #F3DD0E;
	padding: 0 21px 0 18px;
	margin-bottom: 30px;
	font-weight: 500;
	p{
		&:last-child{
			margin-bottom: 0;
		}
	}
}

.content-img {
    margin-bottom: 18px;
    img{
		max-width: 100%;
		height: auto;
		display: block;
    }
}
.media__title{
	font-size: 13px;
    color: #333;
    padding: 17px 0 10px;
    line-height: 1.2;
}

.video-wrap{
  margin: 0 -21px 30px;}

.video__item {
  height: 454px;
  width: 100%;
  position: relative;
  margin-bottom: 16px; }
  .video__item iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    border: 0;
    left: 0; }

.video__poster {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
}

.video__play {
    display: inline-block;
    width: 100px;
    height: 100px;
    border: 2px solid #fff;
    position: absolute;
    left: 50%;
    margin-left: -50px;
    top: 50%;
    margin-top: -50px;
    z-index: 3;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: rgba(51, 51, 51, 0.4);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.video__play:before {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 0 20px 29px;
    border-color: transparent transparent transparent #ffffff;
    position: absolute;
    left: 50%;
    margin-left: -11px;
    top: 50%;
    margin-top: -20px;
}
.video__play:hover {
    border: 2px solid rgba(11, 128, 236, 0.6);
}


.content-item {
    margin-bottom: 30px;
    overflow: hidden;
}

.content-item__img {
    float: left;
    max-width: 50%;
    padding-right: 40px;
    img{
    	max-width: 100%;
    	height: auto;
    	display: block;
    }
}


.block-socials{
	padding: 24px 0;
	margin-bottom: 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-top: 1px solid #C9C9C9;
	border-bottom: 1px solid #C9C9C9;
	.socials{
		margin-bottom: 0;
	}
}

.block-socials-like{
	display: flex;
	align-items: center;
}

.block-socials-like__answer{
	font-size: 18px;
	font-weight: 500;
	margin-right: 16px;
}

.block-socials-like__btn{
	display: inline-block;
	border-radius: 4px;
	text-decoration: none;
	font-weight: 500;
	    padding: 4px 16px;
}

.block-socials-like__btn--yes{
	background: linear-gradient(90deg, #024A9A 0%, #00669E 100%);
	margin-right: 16px;
	color: #fff;
	transition: all 0.3s ease;
	&:hover{
		background: linear-gradient(90deg,#0153aa 0%,#016aad 100%);
	}
	.block-socials-like__count{
		color: #fff;
	}
}
.block-socials-like__btn--no{
	background-color: #E6EAEC;
	color: #333;
	.block-socials-like__count{
		color: #333;
	}
}

.block-socials-like__count{
	font-size: 18px;
	display: inline-block;
	margin-right: 7px;
	font-weight: 300;
}

.text-highlighted-item{
	margin-bottom: 22px;
}


.ripple {
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.4);
  transform: scale(0);
  position: absolute;
  opacity: 1;
}

.rippleEffect {
    animation: rippleDrop .6s linear;
}

@keyframes rippleDrop {
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.ripple-animate {
  -webkit-transition: opacity 0.6s ease-in-out, 0.6s -webkit-transform ease-in-out;
  transition: opacity 0.6s ease-in-out, 0.6s -webkit-transform ease-in-out;
  transition: 0.6s transform ease-in-out, opacity 0.6s ease-in-out;
  transition: 0.6s transform ease-in-out, opacity 0.6s ease-in-out, 0.6s -webkit-transform ease-in-out; }

.rating-8, .rating-9, .rating-10 {
  background-color: #7bba3a; }

/****************rating 7-7.5**********************/
.rating-7 {
  background-color: #97c948; }

/****************rating 6-6.5**********************/
.rating-6 {
  background-color: #b2d845; }

/****************rating 5-5.5**********************/
.rating-5 {
  background-color: #dbeb40; }

/****************rating 4-4.5**********************/
.rating-4 {
  background-color: #faeb3c; }

/****************rating 3-3.5**********************/
.rating-3 {
  background-color: #ffd039; }

/****************rating 2-2.5**********************/
.rating-2 {
  background-color: #ff9e38; }

/****************rating 0-1.5**********************/
.rating-0, .rating-1 {
  background-color: #f65636; }

.rating {
  width: 42px;
  height: 42px;
  line-height: 42px;
  text-align: center;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  font-size: 20px;
  font-weight: 500;
  color: #000; }

.material-top {
  height: 275px;
  color: #fff;
  position: relative; }
  .material-top .container-fluid {
    position: static; }

.material-top__bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  padding: 45px 22px 5px;
  min-height: 273px;
  overflow: hidden;
  position: relative;
  overflow: hidden; }
  .material-top__bg h1,
  .material-top__title{
       margin-bottom: 16px;
    font-size: 24px;
    /* line-height: 31px; */
    line-height: 1.2; }
  .material-top__bg .material-btn {
    margin-right: 11px;
    margin-bottom: 11px; }
  .material-top__bg:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); /* https://crm.nineseven.ru/company/personal/user/28/tasks/task/view/11704/index.php?MID=49641#com49641 */
    left: 0;
    top: 0;
    position: absolute; }

.fitcher-popular-list__bg:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); /* https://crm.nineseven.ru/company/personal/user/28/tasks/task/view/11704/index.php?MID=49641#com49641 */
    left: 0;
    top: 0;
    position: absolute; }

.material-top__rating {
      float: left;
    width: 255px;
    padding-right: 42px;
    text-align: right;
    margin-top: -10px;
    position: relative;
    z-index: 3; }
  .material-top__rating .rating {
    margin-right: 18px;
    display: inline-block;
    vertical-align: middle;
    font-weight: 700;
    font-size: 24px;
    width: 50px;
    height: 50px;
    line-height: 50px; }

.rating-number {
  display: inline-block;
  vertical-align: middle;
  padding-left: 26px;
  position: relative;
  font-size: 24px;
  font-weight: 500; }
  .rating-number:before {
    content: "";
    display: inline-block;
    width: 22px;
    height: 20px;
    background: url(../img/svg/small_star.svg) center no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -13px; }

.material-top__info {
  overflow: hidden;
  position: relative;
  z-index: 3; }

.material-top__date {
  font-size: 13px;
  margin-bottom: 4px; }

.material-top__platform {
  font-size: 13px;
  margin-bottom: 7px; }

.material-top__buttons {
  padding-top: 22px;
	.socials{
		margin-bottom: 0;
	}
}

.material-btn {
	font-size: 20px;
  vertical-align: top;
  position: relative; }

.btn-appstore {
  background: #01172f!important;
  background: -webkit-linear-gradient(0deg, #01172f 0%, #001f30 100%)!important;
  background: -webkit-gradient(linear, left top, right top, from(#01172f), to(#001f30))!important;
  background: -webkit-linear-gradient(left, #01172f 0%, #001f30 100%)!important;
  background: linear-gradient(90deg, #01172f 0%, #001f30 100%)!important;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  height: 50px;
  line-height: 50px;
  display: inline-block;
  overflow: hidden;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .btn-appstore:hover {
    background: #012144!important;
    background: -webkit-linear-gradient(0deg, #012144 0%, #002d46 100%)!important;
    background: -webkit-gradient(linear, left top, right top, from(#012144), to(#002d46))!important;
    background: -webkit-linear-gradient(left, #012144 0%, #002d46 100%)!important;
    background: linear-gradient(90deg, #012144 0%, #002d46 100%)!important;}
  .btn-appstore svg {
    position: relative;
    z-index: 3; }
  .btn-appstore .ripple {
    background: #003773; }

.btn-google {
  background: #4da176;
  background: -webkit-linear-gradient(0deg, #4da176 0%, #4cbe7b 100%);
  background: -webkit-gradient(linear, left top, right top, from(#4da176), to(#4cbe7b));
  background: -webkit-linear-gradient(left, #4da176 0%, #4cbe7b 100%);
  background: linear-gradient(90deg, #4da176 0%, #4cbe7b 100%);
  -webkit-border-radius: 5px;
          border-radius: 5px;
  height: 50px;
  line-height: 50px;
  display: inline-block;
  overflow: hidden;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .btn-google:hover {
    background: #42957b;
    background: -webkit-linear-gradient(0deg, #42957b 0%, #40b180 100%);
    background: -webkit-gradient(linear, left top, right top, from(#42957b), to(#40b180));
    background: -webkit-linear-gradient(left, #42957b 0%, #40b180 100%);
    background: linear-gradient(90deg, #42957b 0%, #40b180 100%); }
  .btn-google svg {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    z-index: 3; }
  .btn-google .ripple {
    background: #6de2a6; }



.page-cat{
	background: #fff;
	padding: 16px 15px 16px;;

}

.page-cat__top{
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 2px;
	color: #333333;
	text-decoration: none;
	display: block;
	border-bottom: 1px dashed #e6eaec;
}

.page-cat__item {
    margin-bottom: 18px;
    //border-top: 1px solid #C9C9C9;
    padding-top: 4px;
}

.page-cat__link{
    position: relative;
    display: block;
    font-size: 13px;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    padding: 6px 0 6px 23px;
    color: #303435;
    line-height: 1.1;
    &.active{
		font-weight: 600;

    }
}

a.page-cat__link{
	&:hover{
		color: #003384;
	}
}

span.page-cat__link{
	&.active{
		font-weight: 600;
		color: #024a9a;
	}
}

.l-map:before {
  content: "";
  display: inline-block;
  background: url(../img/svg/way.svg) no-repeat;
  background-size: cover;
  width: 17px;
  height: 21px;
  position: absolute;
  left: 0;
      top: 6px;
  transition: all 0.3s ease-in-out; }

.l-file:before {
  content: "";
  display: inline-block;
  width: 17px;
  height: 17px;
  background: #fff url(../img/svg/file_icon.svg) no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
      top: 4px;
  transition: all 0.3s ease-in-out; }

.achievement:before,
.l-trophy:before{
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background: #fff url(../img/svg/trophy.svg) no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
      top: 5px;
  transition: all 0.3s ease-in-out;
}


.map-in:before,
.l-way:before{
  content: "";
  display: inline-block;
  width: 17px;
  height: 17px;
  background: #fff url(../img/svg/map_navigation.svg) no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
    top: 4px;
  transition: all 0.3s ease-in-out;
}


.way:before{
  content: "";
  display: inline-block;
  width: 17px;
  height: 21px;
  background: #fff url(../img/svg/way.svg) no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 3px;
  transition: all 0.3s ease-in-out;
}

.key:before,
.l-unlock:before{
  content: "";
  display: inline-block;
  width: 16px;
  height: 17px;
  background: #fff url(../img/svg/unlock.svg) no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
      top: 6px;
  transition: all 0.3s ease-in-out;
}

.l-video:before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 12px;
  background: #fff url(../img/svg/video_icon.svg) no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
      top: 7px;
  transition: all 0.3s ease-in-out; }

.page-cat__back{
	display: block;
	font-size: 13px;
	padding-bottom: 6px;
    margin-bottom: 7px;
	position: relative;
	padding-left: 23px;
	text-decoration: none;
	color: inherit;
	border-bottom: 1px solid #d9d9d9;
	&:before{
		content: "";
		display: inline-block;
		width: 17px;
		height: 17px;
		background: #fff url(../img/svg/back.svg) no-repeat;
		position: absolute;
		left: 0;
		top: 0;
	}
	&:hover{
		color: #003384;
	}
	&.active{
		font-weight: 500;
		color: #333333;
	}
}

.transition{
	margin: 48px 0 40px;
	display: flex;
	justify-content:center;
	align-items:center;
}

.transition__link{
	padding: 11px 5px;
	background: #fff;
	transition: all 0.3s ease;
	border-radius: 5px;
	border: 1px solid #007FE4;
	text-decoration: none;
	width: 240px;
	text-align: center;
	margin: 0 16px;
	color: #333333;
	font-size: 16px;
	span{
		display: inline-block;
		position: relative;
	}
	&:hover{
		background: #007FE4;
		color: #fff;
	}
}

.transition__link--left{
	span{
		padding-left: 40px;
		&:before{
			content: "";
			width: 34px;
			height: 14px;
			left: -3px;
    		top: 4px;
			background: url(../img/svg/a_left.svg) center no-repeat;
			background-size: contain;
			display: inline-block;
			position: absolute;
		}
	}
	&:hover{
		span{
			&:before{
				background: url(../img/svg/a_left-h.svg) center no-repeat;
				background-size: contain;
			}
		}
	}
}

.transition__link--right{
	span{
		padding-right: 40px;
		&:after{
			content: "";
			width: 34px;
			height: 14px;
			right: -3px;
			top: 4px;
			background: url(../img/svg/a_right.svg) center no-repeat;
			background-size: contain;
			display: inline-block;
			position: absolute;
		}
	}
	&:hover{
		span{
			&:after{
				background: url(../img/svg/a_right-h.svg) center no-repeat;
				background-size: contain;
			}
		}
	}
}


.paging{
	margin: 40px 0 ;
	text-align: center;
}
.paging__wrap{
	display: inline-flex;
	justify-content:center;
	box-shadow: 0px 4px 27px -13px rgba(0,0,0,.55);
}

.paging__link{
	    padding: 11px 26px;
	display: flex;
	justify-content:center;
	align-items:center;
	text-decoration: none;
	color: #007FE4;
	border: 1px solid #C9C9C9;
	background: #fff;
	font-size: 16px;
	margin-right: -1px;
	transition: background 0.3s ease;
	&:last-child{
		margin-right: 0;
	}
	&.active,
	&:hover{
		background: #007fe4;
		color: #fff;
	}
	&.paging__link--prev{
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
		background: #fff url(../img/svg/p-prev.svg) center no-repeat;
		&:hover{
			background: #007fe4 url(../img/svg/p-prev-h.svg) center no-repeat;
		}
	}
	&.paging__link--next{
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
		background: #fff url(../img/svg/p-next.svg) center no-repeat;
		&:hover{
			background: #007fe4 url(../img/svg/p-next-h.svg) center no-repeat;
		}
	}
}


.game-wrap{
	display: flex;
	flex-wrap: wrap;
}

.game-item {
    padding-bottom: 8px;
    width: 33.3333%;
}

.game-top{
	background: #fff;
	    padding: 23px 16px 15px 16px;
}

.game-top__links{
	display: flex;
	align-items: center;
	flex-wrap:wrap;
}

.game-top__item{
	//margin-right: 25px;
	display: flex;
	align-items:center;

	&:after{
		content: "/";
		display: inline-block;
		color: #909090;
		font-size: 18px;
		margin: 0 8px 0 4px;
	}
	&:last-child{
		margin-right: 0;
		&:after{
			display: none;
		}
	}
	a{
		color: #007FE4;
		font-size: 24px;
		font-weight: 500;
	}
	h1{
		margin-bottom: 0;
		margin-top: -5px;
		font-weight: 500;
	}

}



.game-item__inner{
	background: #fff;
	//padding: 8px 16px 16px;
	height: 100%;
}


.game-link{
	color: inherit;
	display: block;
	text-decoration: none;
	&:hover{
		.game-img__inner{
			transform: scale(1.1);
		}
		.game-title{
			color: #003384;
		}
	}
}

.game-info{
	padding: 16px 16px 20px;
}

.game-img{
	overflow: hidden;
	height: 220px;
	margin-bottom: 1px;
	position: relative;
}

.game-img__inner{
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	transition: all 0.3s ease-in-out;
	img{
		max-width: 100%;
		height: auto;
	}
}

.game-platform{
    font-size: 13px;
    margin-bottom: 12px;
    color: #909090;
}
.game-date{
	font-size: 13px;
	color: #333;
	display: inline-block;
    vertical-align: middle;
	span{

		color: #909090;
		margin-right: 3px;
	}
}

.game-title{
	padding-right: 70px;
	position: relative;
	margin-bottom: 15px;
	.rating{
	    position: absolute;
	    right: 0;
	    top: -5px;
	    width: 44px;
	    height: 36px;
	    line-height: 36px;
	    font-size: 24px;

	}
}

.game-title__txt{
	font-size: 18px;
	line-height: 1.2;
	font-weight: 500;
}

.game-txt{
    font-size: 16px;
    margin-bottom: 16px;
    line-height: 1.4;
}

.more-wrapper{
	margin:  40px 0;
	text-align: center;
	min-width: 100% !important;
}

.more-wrapper .more-btn.disabled {
    cursor: not-allowed;
    pointer-events: none;
}

.more-btn{
	text-decoration: none;
	color: #fff;
	border-radius: 5px;
	background: #007FE4;
	padding: 10px 61px;
	display: inline-block;
	position: relative;
	overflow: hidden;
	transition: background 0.3s ease;
	&:hover{
		background: #003384;
	}
}

.article__add{
	margin-bottom: 24px;
	display: block;
}

.game-page-info{
	font-size: 15px;
	h2{
		margin-bottom: 8px;
	}
	ul li{
		margin-bottom: 17px;
		line-height: 1.2;
		padding-left: 29px;
		&:last-child{
			margin-bottom: 0;
		}
		&:before{
			    top: 8px;
		}
	}
}

.game-page-info__items{
	display: flex;
	flex-wrap: wrap;
	.game-page-info__item{
		padding-right: 41px;
		width: 50%;
	}
	.game-page-info__title {
	    margin-bottom: 7px;
	    padding-bottom: 5px;
	}
}

.game-page-info__item{
	margin-bottom: 25px;
}

.game-page-info__title{
	font-weight: 600;
	font-size: 18px;
	margin-bottom: 5px;
	padding-bottom: 7px;
	border-bottom: 1px solid  #E6EAEC;
}

.game-page-info__date{
	margin-bottom: 11px;
}

.country-icon{
	display: inline-block;
	vertical-align: middle;
    margin-top: -2px;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	margin-right: 6px;
	overflow: hidden;
	img{
		max-width: 100%;
		height: auto;
		display: block;
	}

}


.page-aside__name {
    font-size: 16px;
    margin-bottom: 10px;
}

.second-level {
    margin-left: 24px;
    padding-bottom: 1px;
    padding-top: 1px;
    margin-bottom: 3px;
    position: relative;
    // &:before{
    // 	content: "";
    // 	display: inline-block;
    // 	width: 1px;
    // 	height: 100%;
    // 	background-color: #E6EAEC;
    // 	position: absolute;
    // 	left: 8px;
    // 	top: 0;
    // }
    .page-cat__link{
    	&:last-child{
			padding-bottom: 0;
    	}
    }
}

.third-level {
    margin-left: 20px;
    padding-bottom: 13px;
    padding-top: 5px;
    font-size: 13px;
    position: relative;
    border-bottom: 1px dashed #e6eaec;
    &:before{
		content: "";
		display: inline-block;
		width: 1px;
		height: calc(100% - 28px);
		background-color: #e6eaec;
		position: absolute;
		left: 5px;
		top: 9px;
    }
    a{
    	color: #303435!important;

    	display: inline-block;
    	&:hover{
    		    color: #003384!important;
    	}
    }
    ol{
    	margin-bottom: 0;
    	li{
    		margin-bottom: 10px;
    		padding-left: 20px;
    		line-height: 1.1;
    		&:before{
				left: -5px;
				text-align: center;
				width: 20px;
				background: #fff;
				padding-top: 1px;
				padding-bottom: 1px;
				top: -1px;
				    content: counter(myCounter);
    		}
    		&:last-child{
    			margin-bottom: 0;
    		}
    	}
    }
}

.cookies {
    position: fixed;
    width: 100%;
    padding: 9px 55px 9px 30px;
    line-height: 30px;
    background-color: #fff5ba;
    left: 0;
    top: 0;
    z-index: 9;
    font-size: 16px;
    a{
    	color: #017aeb;
    	text-decoration: none;
    }
}

.cookies__close {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background: url(../img/svg/cookies-close.svg) no-repeat;
    background-size: contain;
}

.cookies .btn {
    background: #024a9a;
    background: -webkit-linear-gradient(0deg,#024a9a 0%,#00669e 100%);
    background: -webkit-gradient(linear,left top,right top,from(#024a9a),to(#00669e));
    background: -webkit-linear-gradient(left,#024a9a 0%,#00669e 100%);
    background: linear-gradient(90deg,#024a9a 0%,#00669e 100%);
    display: inline-block;
    transition: all .3s ease;
    color: #fff;
    border-radius: 5px;
    padding: 5px 25px;
    vertical-align: middle;
    text-decoration: none;
    margin-left: 10px;
    margin-bottom: 0;
}

.cookies .btn:hover {
    color: #fff;
    background: #0153aa;
    background: linear-gradient(90deg,#0153aa 0%,#016aad 100%);
}

.similar{
	margin-bottom: 30px;
	margin-right: -40px;
	display: flex;
	flex-wrap:wrap;
}


.similar__item{
	padding-right: 35px;
	width: 33.33%;
	margin-bottom: 38px;
	line-height: 1.2;
	.rating-number {
	    font-size: 15px;
	    margin-bottom: 6px;
	}
}

a.similar__link{
	color: inherit!important;
	display: block;
	text-decoration: none;
	&:hover{
		.similar__inner{
			transform: scale(1.1);
		}
		.similar__title h5{
			color: #0565BA;
		}
	}
}

.similar__img{
	overflow: hidden;
	height: 140px;
	margin-bottom: 21px;
	position: relative;
}

.similar__inner{
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	transition: all 0.3s ease-in-out;
	img{
		max-width: 100%;
		height: auto;
	}
}

.similar__platform{
	font-size: 13px;
	margin-bottom: 10px;
}
.similar__date{
	font-size: 13px;
	span{
		color: #787878;
	}
}

.similar__title{
	padding-right: 54px;
	position: relative;
	.rating{
		position: absolute;
		right: 0;
		top: -5px;
		width: 33px;
		height: 33px;
		line-height: 33px;
		font-size: 15px;
	}
	h5{
		margin-bottom: 10px;
		font-weight: 700;
	}
}

.gamepage-block-unit-tag {
    background-color: #003384;
    border-radius: 2px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    color: #fff;
    line-height: 20px;
    height: 20px;
    padding: 0 4px;
    margin-right: 5px;
    margin-bottom: 8px;
    font-size: 15px;
}
.gamepage-block-unit-tag-wrap{
	margin-bottom: 20px;
}



.img-item {
    margin-bottom: 26px;
    overflow: hidden;
    img{
		max-width: 45%;
		height: auto;
		display: block;
    }
}

.img-item--left img {
    float: left;
    margin-right: 40px;
    margin-bottom: 20px;
}

.img-item--right img {
    float: right;
    margin-left: 40px;
    margin-bottom: 20px;
}

.image-variants {
    margin-bottom: 32px;
    overflow: hidden;
}

.image-variants__wrap {
    margin-right: -15px;
        display: flex;
}

.image-variants__item {
    padding-right: 15px;
    vertical-align: middle;
    float: left;
    max-width: 50%;
    position: relative;
    padding-bottom: 8px;
    &:after{
    	content: "";
    	display: inline-block;
    	width: calc(100% - 15px);
    	height: 1px;
    	background-color: #C9C9C9;
    	position: absolute;
    	bottom: 0;
    	left: 0;
    }

}

.image-variants__item img {
    max-width: 100%;
    display: inline-block;
    vertical-align: top;
    max-height: 100%;
}


.images-multiple {
    margin-bottom: 32px;
}
.images-multiple__wrap {
    display: flex;
    &.images-multiple__wrap--4 {
   	  margin-right: -2px;
    }
    &.images-multiple__wrap--3 {
   	  	margin-right: -4px;
    }
    &.images-multiple__wrap--2 {
   	  	margin-right: -4px;
    }
}




.images-multiple__wrap--4 .images-multiple__item {
    width: 25%;
    padding-right: 2px;
    position: relative;
    padding-bottom: 8px;
    img{
    	max-width: 100%;
    	height: auto;
    	display: block;
    }
    &:after{
    	content: "";
    	display: inline-block;
    	width: calc(100% - 2px);
    	height: 1px;
    	background-color: #C9C9C9;
    	position: absolute;
    	bottom: 0;
    	left: 0;
    }
}

.images-multiple__wrap--3 .images-multiple__item {
    width: 33.333%;
    padding-right: 4px;
    position: relative;
    padding-bottom: 8px;
    img{
    	max-width: 100%;
    	height: auto;
    	display: block;
    }
    &:after{
    	content: "";
    	display: inline-block;
    	width: calc(100% - 4px);
    	height: 1px;
    	background-color: #C9C9C9;
    	position: absolute;
    	bottom: 0;
    	left: 0;
    }
}

.images-multiple__wrap--2 .images-multiple__item {
    width: 50%;
    padding-right: 4px;
    position: relative;
    padding-bottom: 8px;
    img{
    	max-width: 100%;
    	height: auto;
    	display: block;
    }
    &:after{
    	content: "";
    	display: inline-block;
    	width: calc(100% - 4px);
    	height: 1px;
    	background-color: #C9C9C9;
    	position: absolute;
    	bottom: 0;
    	left: 0;
    }
}


.images-multiple--one-title{
	.images-multiple__item{
		padding-bottom: 0;
		&:after{
			display: none;
		}
	}
	.media__title{
		border-bottom: 1px solid #C9C9C9;
		padding: 15px 0;
	}
}


.instruction__title {
    font-size: 18px;
    border-bottom: 1px solid #D9D9D9;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.instruction {
	margin: 0 0 20px;
    border-bottom: 1px solid #D9D9D9;
    font-size: 15px;
    background: #fff;
    position: relative;
    padding: 0;
    transition: all 0.3s ease-in-out;
    max-height: calc(100vh - 56px);
    overflow-y: auto;
    &.is_stuck{
        margin-top: 56px;
        position: fixed!important;
        top: 0!important;
        bottom: auto!important;
    }
}

.instruction::-webkit-scrollbar {
	width: 8px;
  height: 8px; }
.instruction::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 5px;
          border-radius: 5px; }

.instruction::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
          border-radius: 5px;
  background: #024a9a; }


.instruction__item.active {
    font-weight: 500;
    color: #000;
    &:before{
    	color: #000;
    }
}

.toc-bar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background: #024a9a;
    transition: width 0.2s;
    height: 3px;
}

.top-nav-anchors__toggle {
    display: none;
    // padding-left: 7px;
    // padding-right: 10px;
    /* min-height: 15px; */
}

.top-nav-anchors__expand {
    color: #000!important;
}
.expand-info.dnone {
    display: none;
}
.expand-info {
    cursor: pointer;
    line-height: 1.1;
    
    position: relative;
}

.top-nav-anchors__expand i {
    font-size: 15px;
    color: #8C8E8F;
    font-style: normal;
    position: absolute;
    left: 8px;
    top: 13px;
}

.top-nav-anchors__expand span {
    display: block;
    overflow: hidden;
     padding: 14px 41px 14px 30px;
}

.top-nav-anchors__expand span:empty{
	padding: 0;
}


.top-nav-anchors-link__toggle {
    display: inline-block;
    position: absolute;
    right: 11px;
    width: 22px;
    height: 20px;
    top: 13px;
    background: url(../img/svg/downwards-pointer.svg) no-repeat;
    background-size: contain;
    transition: all 0.3s ease;
    z-index: 5;
    &.active{
    	transform: rotate(180deg);
    }
}

.instruction ol {
    margin-bottom: 20px;
    padding: 0px 41px 0px 8px;
}

.instruction ol li {
    margin-bottom: 10px;
    line-height: 1.25;
    padding-left: 22px;
    &:last-child{
    	margin-bottom: 0;
    }
   	&:before {
	    content: counter(myCounter);
	}
}

.instruction__link {
    color: #333333;
    border-bottom: 1px dashed #333333;
    text-decoration: none;
    &:hover{
		border-bottom: 1px dashed transparent;
		    color: #003384;
    }
}


.is_stuck {
    margin-bottom: 0;
    z-index: 13;
    border-bottom: 0;
}

.is_stuck .instruction__list {
    display: none;
    margin-bottom: 0;
}

.is_stuck .top-nav-anchors__toggle {
    display: block;
    position: relative;
}

.is_stuck .instruction__list.isVisible {
    display: block;
    padding: 13px 41px 13px 8px;
}




.js-page-aside__sticky{
	transition: all 0.3s ease-in-out;
}


.nav-down+.wrapper .is_stuck {
    margin-top: 56px;
}


/* cookie */
.cookies {
    position: relative;
    color: #333;
}

.layout--cookie .nav-up{
    top: 0;
}


.layout--cookie .page-content {
    padding-top: 114px;
}

.layout--cookie .nav-down+.wrapper .js-page-aside__sticky.is_stuck {
    top: 114px !important;
}


/* /cookie */

/* author */
.article__author {
    color: #333;
}
/* /author */

.material-top__buttons .socials{
    padding-top: 20px;
    padding-bottom: 30px;
}




.material-slider__link:before {
    content: "";
    width: 12px;
    height: 10px;
    background: url(../img/svg/svg_open_original.svg) no-repeat;
    position: absolute;
    left: 8px;
    top: 50%;
    margin-top: -6px;
}


.material-slider-wrap--en .pagingInfo{
    margin-left: -82px;
}

.material-slider-wrap--en .material-slider__link {
    margin-left: 2px;
}



.image-link {
    cursor: pointer;
}

.dnone {
    display: none!important;
}
p{
	img {
	    max-width: 100% !important;
	}
}


.highlighted {
    border: 1px solid #fbf3b1;
    background: #fff9e0;
    padding-left: 3px;
    padding-right: 3px;
}



.text-author {
    padding-bottom: 25px;
    font-size: 14px;
}

p+h2{
	margin-bottom: 12px;
}

@import "components/footer";




@import "components/media";





