.highlighted-t {
    display: inline;
}
.highlighted__inner {
    padding-top: 6px;
    padding-bottom: 6px;
    display: inline;
    background: #fff794;
}

.page-cat__back.active{
    color: #024a9a;
}

.page-title h1 {
    font-size: 40px;
}
hr+.text-author{
    padding-bottom: 0;
}
.text-author {
    margin-bottom: 25px;
}

.pagingInfo {
    top: 381px;
}

.rsOverflow {
    height: 415px !important;
}

.material-slider-wrap--en .pagingInfo {
    margin-left: -66px;
}

.article-in {
    border-bottom: none;
}
p .btn {
    margin-bottom: 0;
}

.result .highlighted {
    padding-right: 0;
    padding-left: 0;
}
