.highlighted-t {
    display: inline;
}
.highlighted__inner {
    padding-top: 6px;
    padding-bottom: 6px;
    display: inline;
    background: #fff794;
}

.page-cat__back.active{
    color: #024a9a;
}

.page-title h1 {
    font-size: 40px;
}
hr+.text-author{
    padding-bottom: 0;
}
.text-author {
    margin-bottom: 25px;
}

.pagingInfo {
    top: 381px;
}

.rsOverflow {
    height: 415px !important;
}

.material-slider-wrap--en .pagingInfo {
    margin-left: -66px;
}

.article-in {
    border-bottom: none;
}
p .btn {
    margin-bottom: 0;
}

.result .highlighted {
    padding-right: 0;
    padding-left: 0;
}

.article-in__img img {
    margin: 0 auto;
}

.content .highlighted-text {
    margin-left: 0;
}

.reddit-embed {
    margin-bottom: 26px;
}

.layout--cookie .nav-down + .wrapper .is_stuck {
    margin-top: 0;
}

.layout--cookie .is_stuck {
    margin-top: 114px;
}
.instruction {
    transition: none!important;
}
.page-footer__menu {
    max-width: inherit;
}

twitter-widget {
    margin-left: auto;
    margin-right: auto;
}
ul.dots li:before, div.dots ul li:before {
    content: "";
    position: absolute;
    left: 5px;
    top: 9px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #000;
    width: 4px;
    height: 4px;
}
