.page-footer{
	background: #262525;
	font-size: 14px;
	color: #fff;
}

.page-footer__wrap{
    display: flex;
    justify-content:space-between;
}

.page-footer--en{
    padding: 31px 0 39px;
    .page-footer__link{
        margin-right: 29px;
        &:last-child{
            margin-right: 0;
        }
    }
}

.page-footer__link{
    color: rgba(255, 255, 255, 0.62);
    transition:color 0.3s ease;
    text-decoration: none;
    &:hover,
    &.active{
        color: rgba(255, 255, 255, 1);
    }
}

.page-footer__copyright{
    font-size: 12px;
    color: rgba(255, 255, 255, 0.4);
    text-align: right;
    margin-top: -2px;
    span{
        padding: 0 3px 0 6px;
    }
}
.page-footer__alert{
    font-size: 13px;
    margin-bottom: 10px;
    display: inline-block;
    padding: 2px 4px;
    line-height: 0.7;
    border-radius: 3px;
    border: 1px solid rgba(255, 255, 255, 0.4);
}

.page-footer--ru{
    padding: 24px 0 36px;
    .page-footer__menu{
        margin-right: 51px;
        padding-top: 5px;
    }
    .page-footer__copyright {
        margin-top: 0px;
        padding-top: 2px;
    }
}

.page-footer__socials{
    margin-right: 41px;
    display: flex;
}

.soclals__item{
    width: 33px;
    height: 30px;
    margin-right: 9px;
}
.soclals__item--vk{
    background: url(../img/svg/vk.svg) no-repeat;
    &:hover{
        background: url(../img/svg/vk_h.svg) no-repeat;
    }
}
.soclals__item--tg{
    background: url(../img/svg/tg.svg) no-repeat;
    &:hover{
        background: url(../img/svg/tg_h.svg) no-repeat;
    }
}
.soclals__item--you{
    background: url(../img/svg/you.svg) no-repeat;
    &:hover{
        background: url(../img/svg/you_h.svg) no-repeat;
    }
}

.page-footer__in{
    display: flex;
}

.solashing{
    margin-right: 53px;
    padding-top: 5px;
}
.solashing__item{
    display: block;
    margin-bottom: 2px;
    color: rgba(255, 255, 255, 0.62);
    transition:color 0.3s ease;
    text-decoration: none;
    font-size: 14px;
    &:hover,
    &.active{
        color: rgba(255, 255, 255, 1);
    }
    &:last-child{
        margin-bottom: 0;
    }
}

.page-footer-external{
    padding-top: 5px;
}

.page-footer-external__link{
        display: flex;
    align-items: center;
    margin-bottom: 2px;
    color: rgba(255, 255, 255, 0.62);
    transition:color 0.3s ease;
    text-decoration: none;
    font-size: 14px;
    &:hover,
    &.active{
        color: rgba(255, 255, 255, 1);
    }
    &:last-child{
        margin-bottom: 0;
    }
}


.page-footer-external__icon{
        margin-right: 5px;
    margin-top: -3px;
    img{
        display: block;
    }
}