

/*FONT-FAMILY*/
$default-font: "Rubik", Arial, sans-serif;

/*FONT-SIZE*/
$default-size-font: 18px;

/*BACKGROUND*/
$default-site-color: #f0f0f0 url(../img/content/pattern.png) repeat;

$default-bg: #ff0109;

/*TEXT-COLOR*/
$base-color: #333333;

$alternate-color: #ff0109;
